.contact-card {
    background: rgba(255, 255, 255, .07);
    border: 1px solid rgba(255, 255, 255, .12);
    border-radius: 18px;
    padding: 8px 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .3s ease;
    cursor: pointer;
    text-decoration: none;
}

.contact-card:hover {
    background: rgba(255, 255, 255, .12);
    transform: translateY(-2px);
}

.icon-container {
    background: rgba(255, 255, 255, .07);
    border: 1px solid rgba(255, 255, 255, .12);
    border-radius: 18px;
    padding: 6px 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all .3s ease;
    text-decoration: none;
}